/* activity button inner layout */
.activity-btn{
  display:flex;
  align-items:center;
  justify-content:space-between;
  gap:10px;
}

.ab-name{
  font-weight:900;
}

.ab-rate{
  font-weight:900;
  font-size:12px;
  opacity:.75;
}